<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>可可(github.com/kekee0724)</title>
</head>
<body style="background: url(https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture)">
<div class="container">
    <div class="row">
        <h3 class="m-auto" th:text="${result.title}"></h3>
        <select class="custom-select" id="selectFirmId">
            <option th:each="firm:${result.firmList}"
                    th:value="${firm.cid}" th:text="${firm.clabelname}"
            ></option>
        </select>
    </div>
</div>

<div class="container">
    <h3 style="text-align: center">hr信息列表</h3>
    <div th:if="${result.firmList}!=null">
        <table border="1" class="table table-bordered table-hover">
            <tr class="success">
                <th>id</th>
                <th>hr名字</th>
                <th>公司名字</th>
                <th>邮箱</th>
                <th>密码</th>
                <th>操作</th>
            </tr>
            <tr th:each="firm:${result.firmList}">
                <td th:text="${firm.cid}"></td>
                <td th:text="${firm.cname}"></td>
                <td th:text="${firm.clabelname}"></td>
                <td th:text="${firm.cemail}"></td>
                <td th:text="${firm.cpassword}"></td>
                <td><a class="btn btn-default btn-sm" href="update.html" th:href="@{/admin/updateFirm}">修改</a>&nbsp;<a
                        class="btn btn-default btn-sm" href="list.html"
                        th:href="@{'/admin/deletFirm/'+${firm.cid}}">删除</a></td>
            </tr>
            <tr>
                <td colspan="8" align="center"><a class="btn btn-primary" href="add.html" th:href="@{/admin/addFirm}">添加hr</a>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${result.firmList}==null">
        <div class="row">
            <p>
                hr 管理 API 服务暂不可用
            </p>
        </div>
    </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<script type="text/javascript" th:src="@{/js/admin/firm.js}"></script>
</body>
</html>