# Project exclude paths
/.gradle/
/.idea/
/spring-cloud-config-server/.gradle/
/spring-cloud-config-server/.idea/
/spring-cloud-config-server/build/
/spring-cloud-config-server/build/classes/java/main/
/spring-cloud-config-server/build/classes/java/test/
/spring-cloud-eureka-zuul/.gradle/
/spring-cloud-eureka-zuul/.idea/
/spring-cloud-eureka-zuul/build/
/spring-cloud-eureka-zuul/build/classes/java/main/
/spring-cloud-eureka-zuul/build/classes/java/test/
/spring-cloud-eureka-server/.gradle/
/spring-cloud-eureka-server/.idea/
/spring-cloud-eureka-server/build/
/spring-cloud-eureka-server/build/classes/java/main/
/spring-cloud-eureka-server/build/classes/java/test/
/main-server-provider/.gradle/
/main-server-provider/.idea/
/main-server-provider/build/
/main-server-provider/build/classes/java/main/
/main-server-provider/build/classes/java/test/
/admin-client-custom/.gradle/
/admin-client-custom/.idea/
/admin-client-custom/build/
/admin-client-custom/build/classes/java/main/
/admin-client-custom/build/classes/java/test/
/vue-front/.gradle/
/vue-front/.idea/
/vue-front/build/
/vue-front/dist/
/vue-front/node_modules/