<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>可可的天气预报(github.com/kekee0724)</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h3 class="m-auto" th:text="${reportModel.title}">kekee0724</h3>
        <select class="custom-select" id="selectCityId">
            <div th:each="cities:${reportModel.cityList}">
                <option th:each="city:${cities.countyList}"
                        th:value="${city.countyCode}" th:text="${city.countyName}"
                        th:selected="${city.countyCode eq reportModel.cityId}"></option>
            </div>
        </select>
    </div>
    <div th:if="${reportModel.report}!=null">
        <div class="row">
            <h1 class="text-success m-auto" th:text="${reportModel.report.city}">城市名称</h1>
        </div>
        <div class="row">
            <p>
                当前温度:<span th:text="${reportModel.report.wendu}"></span>℃
            </p>
        </div>
        <div class="row">
            <p>
                温馨提示:<span th:text="${reportModel.report.ganmao}"></span>
            </p>
        </div>
        <div class="row">
            <div class="card border-info" th:each="forecast:${reportModel.report.forecast}">
                <div class="card-body text-info">
                    <p class="card-text" th:text="${forecast.date}">日期</p>
                    <p class="card-text" th:text="${forecast.high}">高温</p>
                    <p class="card-text" th:text="${forecast.low}">低温</p>
                    <p class="card-text" th:text="${forecast.fengli}">风力</p>
                    <p class="card-text" th:text="${forecast.fengxiang}">风向</p>
                    <p class="card-text" th:text="${forecast.type}">天气类型</p>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${reportModel.report}==null">
        <div class="row">
            <p>
                天气数据 API 服务暂不可用
            </p>
        </div>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<script type="text/javascript" th:src="@{/js/weather/report.js}"></script>
</body>
</html>