<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kekee.vue.mapper.FirmMapper">
    <insert id="insertJD"
            keyProperty="cid"
            parameterType="cn.kekee.vue.bean.JobDes">
        insert into jobdes(cid, opc, tab, pay, location, exp, degree, type, attr, intro, must, hit, intv, endDate,
                           relDate, cname)
        values (#{cid}, #{opc}, #{tab}, #{pay}, #{location}, #{exp}, #{degree}, #{type}, #{attr}, #{intro}, #{must},
                #{hit}, #{intv}, #{endDate}, #{relDate}, #{cname})
    </insert>
    <update id="updateFirm" parameterType="cn.kekee.vue.bean.Firm">
        update firm
        set firm.cname      = #{cname},
            firm.clabelname = #{clabelname},
            firm.cemail     = #{cemail},
            firm.cpassword  = #{cpassword}
        where firm.cid = #{cid};
    </update>
    <select id="getJDbyCid" parameterType="map" resultType="map">
        select *
        from jobdes
        where cid = #{cid}
    </select>
    <select id="getJDbyJid" resultType="cn.kekee.vue.bean.JobDes">
        select *
        from jobdes
        where jid = #{jid}
    </select>
    <select id="getAllJD" parameterType="map" resultType="map">
        select *
        from jobdes
        ORDER BY cid DESC
        LIMIT 8
    </select>
    <!--模糊查询-->
    <select id="getJDListByKey" resultType="map" parameterType="map">
        select *
        from jobdes
        where concat(tab, type, cname, location) like CONCAT('%', #{key}, '%')
    </select>
    <insert id="insertFirmInfo"
            keyProperty="cid"
            parameterType="cn.kekee.vue.bean.FirmInfo">
        insert into firminfo(cid, name, email, phone, region, intro, type, num, brief, logo)
        values (#{cid}, #{name}, #{email}, #{phone}, #{region}, #{intro}, #{type}, #{num}, #{brief}, #{logo})
    </insert>
    <select id="getFirmInfoByCid" resultType="cn.kekee.vue.bean.FirmInfo">
        select *
        from firminfo
        where cid = #{cid}
    </select>
    <select id="getAllFirmInfo" parameterType="map" resultType="map">
        select *
        from firminfo
        ORDER BY cid DESC
        LIMIT 8
    </select>
    <select id="getFirmById" resultType="cn.kekee.vue.bean.Firm">
        select *
        from firm
        where cid = #{cid}
    </select>
    <select id="getFirmByName" resultType="cn.kekee.vue.bean.Firm">
        select *
        from firm
        where cname = #{cname}
    </select>
    <insert id="insertFirm"
            useGeneratedKeys="true" keyProperty="cid"
            parameterType="cn.kekee.vue.bean.Firm">
        insert into firm(cname, clabelname, cemail, cpassword)
        values (#{cname}, #{clabelname}, #{cemail}, #{cpassword})

    </insert>
    <!--根据姓名和密码查询-->
    <select id="getFirmByNameAndPassword" resultType="cn.kekee.vue.bean.Firm">
        select *
        from firm
        where cname = #{cname}
          and cpassword = #{cpassword}
    </select>
</mapper>